<h1>Mycelia logo experiments</h1>
<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/seedrandom.min.js"></script>
<canvas id="logoCanvas" width="800" height="800"></canvas>
<style>
    * {margin: 0;padding: 0;}
    h1 {font-family: sans-serif; font-weight: bold; font-size: 42px; line-height: 100px; margin: auto; margin-top: calc(50vh - 500px); display: block; text-align: center;}
    canvas { border: 1px solid #ccc; margin: auto; display: block; border-radius: 100%; }
    /*body{background: linear-gradient( to right, orange, lightgreen);}*/
</style>
<script>
	Math.seedrandom('Mycelia');
	const maxFPS = 60;
	const minFPS = 0; // doit être à 0 pour un résultat reproductible. mettre à 30 pour une progression fluide.
	let time = Date.now();
    let maxActiveRyzom = 500;
	const canvas = document.getElementById('logoCanvas');
	//canvas.width  = window.innerWidth;
	//canvas.height = window.innerHeight;
	const context = canvas.getContext("2d");
	const initialRyzom = 100;
	const initialColor = {'hue':Math.random()*360,'saturation':Math.random()*30+70,'luminance':Math.random()*40+30};
	const maxDirectionalDeviation = 5;
    const overlapsTolerance = 0.6;
	const forkRatio = 0.05;
    const microForkRatio = 0.4;
    const microForkVitalityRatio = 0.20;
	const maxHueDeviation = 0.3;
	const maxVitalityLoss = 0.02;
	const maxVitalityGain = 0.01;
	const evolveSpeed = 0.7;
	const ryzomBaseWidth = 5;
    const ryzoms = [];
	initMycelium(context.canvas.width/2, context.canvas.height/2,initialColor,1);
	function initMycelium(x,y,color,vitality){
		for(let i=0; i < initialRyzom; i++) {
			const direction = i*360/initialRyzom -90;
			const state = {"x":x,"y":y,"direction":direction,"vitality":vitality,"color":clone(color),'generation':1};
			newRyzom(state);
        }
    }
    function newRyzom(state){
        ryzoms.push(state);
    }
	function evolve(){
    	const newTime = Date.now();
    	const perfRatio = (newTime-time)*minFPS/1000;
    	time = newTime;
    	if(perfRatio>1) maxActiveRyzom = Math.min(ryzoms.length,maxActiveRyzom)/perfRatio;
    	console.log(perfRatio,maxActiveRyzom);
    	if(ryzoms.length>maxActiveRyzom){
    		ryzoms.sort( (a,b)=>b.vitality-a.vitality );
    		ryzoms.splice(maxActiveRyzom,ryzoms.length-maxActiveRyzom);
        }
        for(let i = ryzoms.length-1; i>=0;i--){
        	const ryzom = ryzoms[i];
        	if(ryzom.vitality<maxVitalityGain/100){
		        ryzoms.splice(i,1);
		        continue;
            }
	        ryzom.vitality += Math.random()*(maxVitalityGain+maxVitalityLoss) - maxVitalityLoss;
	        if(Math.random()<microForkRatio){//*ryzom.vitality){
		        const forkRyzom = clone(ryzom);
		        forkRyzom.direction = Math.random()*360;
		        forkRyzom.vitality *= microForkVitalityRatio;
		        forkRyzom.generation++;
		        ryzoms.unshift(forkRyzom);
		        i++;
            }
        	ryzom.oldX = ryzom.x;
        	ryzom.oldY = ryzom.y;
        	const dirDeviation = randomDeviation(maxDirectionalDeviation);
            if(Math.abs(dirDeviation)>maxDirectionalDeviation * (1-forkRatio)) {
            	const forkRyzom = clone(ryzom);
            	forkRyzom.direction -= dirDeviation;
            	ryzoms.unshift(forkRyzom);
            	i++;
            }
        	ryzom.direction += dirDeviation;
        	const radDirection = ryzom.direction * 2*Math.PI/360;
	        ryzom.x += (0.2*ryzom.generation+2-ryzom.vitality)*evolveSpeed * Math.cos(radDirection);
	        ryzom.y += (0.2*ryzom.generation+2-ryzom.vitality)*evolveSpeed * Math.sin(radDirection);
	        if(ryzom.x<0 || ryzom.y <0 || ryzom.x>context.canvas.width || ryzom.y>context.canvas.height || samePixel(ryzom) || ryzom.vitality<0){
	        	ryzoms.splice(i,1);
		        continue;
            }
	        ryzom.width = ryzom.vitality*ryzomBaseWidth;
	        ryzom.color.hue += randomDeviation(maxHueDeviation);
	        ryzom.color.saturation = 40*(1-ryzom.vitality)+30;
	        ryzom.color.luminance = 30*(1-ryzom.vitality)+20;
	        ryzom.drawColor = 'hsl('+ryzom.color.hue+','+ryzom.color.saturation+'%,'+ryzom.color.luminance+'%)'; // hsla also work
        }
    }
	function render(){
		evolve();
		//context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

		for(let ryzom of ryzoms){
			context.strokeStyle = ryzom.drawColor;
			context.lineJoin = "round";
			context.lineWidth = ryzom.width;
			context.beginPath();
			context.moveTo(ryzom.oldX, ryzom.oldY);
			context.lineTo(ryzom.x, ryzom.y);
			context.closePath();
			context.stroke();
		}
		console.log('active ryzom count : ',ryzoms.length);
        if(ryzoms.length>0) setTimeout(render,1000/maxFPS);
	}
	render();
	function randomDeviation(maxDeviation) {
        return Math.random()*maxDeviation*2 - maxDeviation;
	}
	function clone(obj){
		//return JSON.parse(JSON.stringify(obj))
		return Object.assign({}, obj);
    }
    function samePixel(ryzom){
		if(ryzom.oldX === context.canvas.width/2 && ryzom.oldY === context.canvas.height/2) return false;
	    const index = ryzoms.findIndex( (r)=> Math.round(r.x) === Math.round(ryzom.x) && Math.round(r.y) === Math.round(ryzom.y) && r !== ryzom && r.vitality>=ryzom.vitality);
	    return -1 !== index && Math.random() > overlapsTolerance;

    }
</script>